<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Autor del Quiz: <span class="morado"><%= author %> </span> </p>
<img src="/images/author_face.jpeg">
</body>
</html>


