body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  border:3px solid black;
  background-color:#e81324;
  font-weight:bold;
}

.morado{
  color:darkmagenta;

}

h1{
  color:black;
  margin-bottom:50px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

#creditslink{
  font-size:1em;
  color:white;
  padding:10px;
}

#creditslink:hover{
  text-decoration:none;
}

#quizlistlink{
  font-size:1.2em;
  color:white;
  padding:10px;
}

#quizlistlink:hover{
  text-decoration:none;
}


