body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  border:2px solid black;
  font-weight:bold;
}

.morado{
  color:darkmagenta;

}

h1{
  color:black;
  margin-bottom:50px;
}



