<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<header> <h1><%= title %></h1> </header>

<ul>
    <% quizzes.forEach(function( eachQuiz){ %>
    <li><b> <%= eachQuiz.question %><span class="morado"> : </span> <%= eachQuiz.answer %> </b></li>
    <% }) %>

</ul>


</body>
</html>








